/* global style start */

.main_container {
  margin: auto;
  padding: 0 50px;
  width: 1200px;
}

.global_button {
  /* background-color: red; */
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid #fff;
}

@media only screen and (max-width: 600px) {
  .main_container {
    margin: auto;
    padding: 0 2rem;
    width: auto;
  }

  .global_button {
    font-size: 13px;
    font-weight: 500;
  }
}

/* global style end */

.letter-space-1 {
  letter-spacing: 1px;
}
.letter-space-2 {
  letter-spacing: 2px;
}

/* top selling section */

.top-selling {
  position: relative;
  min-height: 395px;
}
.top-selling::before {
  content: "";
  top: 5%;
  left: 5%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
  position: absolute;
  width: 90%;
  height: 90%;
  transition: transform 0.5s ease-in-out;
  transform-origin: center;
  transform: scale(0);
  z-index: 111;
}
.sell:hover .top-selling::before {
  transform: scale(1);
  z-index: 1111;
}
.top-product-details {
  letter-spacing: 2px;
  transform: scale(0);
  transition: transform 0.75s;
  z-index: 1111;
}
.sell:hover .top-product-details {
  transform: scale(1);
}
